.table.media {
        grid-template-columns: 70px 2.5fr 1fr 1fr 1fr;
}
.media-files {
        width: 70%;
        display: flex;
}
.upload-file {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        border: 0.6px solid var(--border-color);
        border-radius: 12px;
        background: var(--secondary-color-1);
        padding: 25px;
        cursor: pointer;
        transition:0.3s;
}
.upload-file:hover {

        transition:0.3s;
        border-color: var(--primary-color-1);
}
.upload-icon {
        background: #ffffff21;
        padding: 13px;
        border-radius: 50px;
        margin-bottom: 20px;
        display: grid;
}
.upload-icon svg {
        width: 25px;
        height: auto;
}
.upload-file strong {
        color: var(--primary-color-1);
        font-weight: 500;
        text-decoration: underline;
        transition:0.3s;
}
.upload-file strong:hover {
        transition:0.3s;
        color: var(--white-color);
}
.storage {
        position: sticky;
        top: 30px;
        border: 0.6px solid var(--border-color);
        width: 30%;
        border-radius: 12px;
        background: var(--secondary-color-1);
        padding: 20px;
}
.storage-chart {
        margin-top: 20px;
        aspect-ratio: 2 / 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
        border-radius: 400px 400px 0 0;
        background: #3c4561;
}
.storage-chart .storage-usage {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--primary-color-1);
        transform: rotate(-90deg);
        transform-origin: center bottom;
}
.storage-chart .storage-left {
        position: absolute;
        bottom: 0;
        left: 14px;
        width: calc(100% - 28px);
        height: calc(100% - 14px);
        z-index:2;
        background: var(--secondary-color-1);
        border-radius: 400px 400px 0 0;
}
.storage-chart span.persent {
        font-size: 40px;
        font-weight: 700;
        color:var(--white-color);
        padding-bottom: 5px;
        position: static;
        z-index: 3;
}
span.storage-have {
        font-size: 12px;
        position: static;
        z-index: 3;
}

.s-divider {
        width: 100%;
        height: 0.6px;
        margin: 30px 0;
        background: var(--border-color);
}
.storage-items {
        margin-bottom: 20px;
}
.storage-item .icon svg {
        width: 35px;
        height: auto;
}.storage-item svg {
        width: 35px;
        height: auto;
}
.storage-percentage {
        width: 100%;
        height: 5px;
        margin-top: 15px;
        background: #3c4561;
        border-radius: 5px;
        overflow: hidden;
}
.storage-percentage .bar {
        width: 50%;
        height: 100%;
        background: var(--primary-color-1);
}